<%= link_to "Dashboard", root_url %> &gt; Contas

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Saldo</th>
    <th>Ações</th>
  </tr>

<% @contas.each do |conta| %>
  <tr>
    <td><%=h conta.nome %></td>
    <td><%=h conta.descricao %></td>
    <td><%=h conta.saldo %></td>
    <td nowrap>
    	<%= link_to 'Extrato', conta %> | 
		<%= link_to 'Editar', edit_conta_path(conta) %> | 
		<%= link_to 'Remover', conta, :confirm => 'Confirma remover a conta?', :method => :delete %>
    </td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova conta', new_conta_path %>
