<%= link_to "Dashboard", root_url %> &gt; <%= link_to "Contas", contas_url %> &gt; Inserir conta

<% form_for(@conta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome, "Nome:" %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :descricao, "Descrição" %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.submit 'Inserir' %> ou <%= link_to 'Voltar', contas_path %>
  </p>
<% end %>
