<%= link_to "Dashboard", root_url %> &gt; <%= link_to "Contas", contas_url %> &gt; Extrato

<p>
  <b>Nome:</b>
  <%=h @conta.nome %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @conta.descricao %>
</p>

<p>
  <b>Saldo atual:</b>
  <%=h @conta.saldo_formatado %>
</p>

<table id="newspaper-b">
  <thead>
	  <tr>
	    <th>Tipo</th>
	    <th>Dia</th>
	    <th>Descrição</th>
	    <th>Valor</th>
	    <th>Ações</th>
	  </tr>
  </thead>

  <tbody>
<% @conta.movimentos.each do |movimento| %>
  <tr>
    <td><%=h movimento.tipo.nome %></td>
    <td><%=h movimento.dia_to_s %></td>
    <td><%=h movimento.descricao %></td>
    <td nowrap><%=h movimento.valor_formatado %></td>
    <td nowrap>
    	<%= link_to 'Editar', edit_movimento_path(movimento) %> | 
		<%= link_to 'Remover', movimento, :confirm => 'Confirmar remover o movimento?', :controller => 'movimentos', :method => :delete %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<p><%= link_to 'Adicionar movimento', new_movimento_path({ :conta_id => @conta.id }) %></p>
