<%= link_to "Dashboard", root_url %> &gt; <%= link_to "Cartões de crédito", cartaos_url %> &gt; Editar cartão de crédito

<% form_for(@cartao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao, "Descrição:" %>
    <%= f.text_field :descricao %>
  </p>
  <p>
    Dia de vencimento: <%= select(:cartao, :vencimento, (1..30).to_a) %>
  </p>
  <p>
    <%= f.submit 'Editar' %> ou <%= link_to 'Voltar', cartaos_path %>
  </p>
<% end %>