<%= link_to "Dashboard", root_url %> &gt; <%= link_to "Tipos", tipos_url %> &gt; Editar tipo

<% form_for(@tipo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome, "Nome:" %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :descricao, "Descrição:" %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.label :valor, "Valor:" %><br />
	<%= f.radio_button :valor, "C" %>Crédito<br />
	<%= f.radio_button :valor, "D" %>Débito
  </p>
  <p>
    <%= f.submit 'Editar' %> ou <%= link_to 'Voltar', tipos_path %>
  </p>
<% end %>
