<p>
  <b>Nome:</b>
  <%=h @tipo.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @tipo.descricao %>
</p>

<p>
  <b>Valor:</b>
  <%=h @tipo.valor %>
</p>


<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<%= link_to 'Back', tipos_path %>