<%= link_to "Dashboard", root_url %> &gt; <%= link_to "Agendas", agendas_url %> &gt; Inserir agenda

<% form_for(@agenda) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome, "Nome:" %>
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :mes_formatado, "Mês:" %>
    <%= f.text_field :mes_formatado, :size => 6 %>
  </p>
  <p>
    <%= f.submit 'Inserir' %> ou <%= link_to 'Voltar', agendas_path %>
  </p>
<% end %>
