<h1>Listing faturas</h1>

<table>
  <tr>
    <th>Cartao</th>
    <th>Mes</th>
    <th>Situacao</th>
  </tr>

<% @faturas.each do |fatura| %>
  <tr>
    <td><%=h fatura.cartao_id %></td>
    <td><%=h fatura.mes %></td>
    <td><%=h fatura.situacao %></td>
    <td><%= link_to 'Show', fatura %></td>
    <td><%= link_to 'Edit', edit_fatura_path(fatura) %></td>
    <td><%= link_to 'Destroy', fatura, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fatura', new_fatura_path %>