<p>
  <b>Nome:</b>
  <%=h @pagamento.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @pagamento.descricao %>
</p>

<p>
  <b>Vencimento:</b>
  <%=h @pagamento.vencimento %>
</p>

<p>
  <b>Valor:</b>
  <%=h @pagamento.valor %>
</p>

<p>
  <b>Confirmado:</b>
  <%=h @pagamento.confirmado %>
</p>


<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |
<%= link_to 'Back', pagamentos_path %>