<h1>Listing movimentos</h1>

<table>
  <tr>
    <th>Conta</th>
    <th>Tipo</th>
    <th>Dia</th>
    <th>Descricao</th>
    <th>Valor</th>
  </tr>

<% @movimentos.each do |movimento| %>
  <tr>
    <td><%=h movimento.conta.nome %></td>
    <td><%=h movimento.tipo.nome %></td>
    <td><%=h movimento.dia %></td>
    <td><%=h movimento.descricao %></td>
    <td><%=h movimento.valor %></td>
    <td><%= link_to 'Show', movimento %></td>
    <td><%= link_to 'Edit', edit_movimento_path(movimento) %></td>
    <td><%= link_to 'Destroy', movimento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%
	saldo_total = 0
	Conta.all.each do |conta|
		saldo_total += conta.saldo
	end
%>

<h2>Saldo atual: <%=h saldo_total %></h2>

<%= link_to 'New movimento', new_movimento_path %>
